.resizer.ltr {
    @apply right-0;
}

.resizer.rtl {
    @apply left-0;
}

.resizer.isResizing {
    @apply bg-primary opacity-100;
}

.resizer::before {
    @apply content-[''] absolute w-2 h-full cursor-col-resize right-1;
}

.resizer {
    @apply opacity-10;
}

*:hover>.resizer {
    @apply opacity-100;
}

@media (hover: hover) {
    .resizer {
        @apply opacity-0;
    }

    *:hover>.resizer {
        @apply opacity-100;
    }
}

table tr:last-child {
    border-bottom: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: oklch(var(--btn-color, var(--b3)) / var(--tw-bg-opacity)) !important;
    border: none;
}

select:hover {
    background-color: color-mix(in oklab,
            oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%,
            black) !important;
}